html, body {
  margin:0;

  padding:0;
}


h1, h2, h3 {
    text-align: center;
    font-weight: normal;
    margin: 25px;
}

h1 {
    font-size: 25px;
}

h2 {
    color: #fff;
    font-size: 22px;
}

h3 {
    color: #000;
}

body {
    font-family: Open Sans, Roboto, sans-serif;
}

p, dl, label {
    font-size: 14px;
    color: #fff;
}

input:not(.desf) {
    margin: 3px;
    font-size: 14px;
    color: #000;
    width: 150px;
    display: inline-block;
}

a {
  color: white;
  text-decoration: none;
}

label:not(.desf) {
    width: 120px;
    display: inline-block;
    text-align: left;
    width: 150px;
}

#consent-div label {
    width: 100%;
    display: inline;
    text-align: center;
}

#consent-div {
    max-width: 80%;
    display: block;
    margin: auto;
    margin-top: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#consent-div input, label {
    margin: 0px 0px;
}

.button {
  /* background-color: #375795; */
  border: solid 2px white;
  /* #375795 */
  color: black;
  padding: 12px 14px;
  margin: 20px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  max-width: 500px;
  background-color: white;
  transition-duration: 0.4s;
  box-shadow: 2px 4px 4px black;
  font-weight: bold;
}

.button-inside-box {
    background-color: white;
}
input.button {
    color: black;
    background-color: white;

}

.button:hover {
  background-color:#3172AF;
  color: white;
  cursor: pointer;
}

#button-home {
    text-align: center;
}

.intro p{
    color: black;
    font-weight: normal;
    font-size: 25px;
    line-height: 2em;
    width: 55%;
    text-align: center;
    margin: auto;
}

.intro {
    background-color: white;
    padding-top: 200px;
    padding-bottom: 200px;
}

#order-intro {
    background-color: #0098E3;
    min-height: 500px;
}

#hero-about, #hero-home, #hero-placeorder, #hero-products {
    padding-top: 250px;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;
    overflow: hidden;
    background-size: cover;
}

#hero-home {
    padding-top: 300px;
    background-image: url('guysolo.png');
    min-height: 100VH;
}

#hero-about {
    padding-top: 800px;
    min-height: 50VH;
    background-image: url('girlgray.png');

}

#hero-products {
    padding-top: 600px;
    background-image: url('twogirls.png');
    min-height: 50VH;
}

#hero-placeorder {
    padding-top: 600px;
    background-image: url('girl-oranges.png');
    min-height: 50VH;
}

#hero-placeorder p {
    margin-top: 10%;
    font-size: 25px;
}
#order-summary, #customer-info {
    /* margin-top: 50px; */
    padding: 50px;
    text-align: center;

    min-height: 400px;

}
#order-summary {
    background-color: white;
}

#customer-info {
    background-color: #3172AF;
    padding: auto;
}


#order-summary p {
    text-align: center;
}
#delivery_date, #confirm_num{
    color: white;
    /* font-size: 20px; */
    text-align: center;
    font-weight:bold;

}

.threeboxes {
    float: center;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    background-color: #3172AF;
}

.box {
    float:center;
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 18%;
    box-shadow: 2px 4px 4px black;
    padding-top: 1%;
    display: inline-block;
    padding: 15 32;
    margin: 20px;
}

.box h3{
  color: black;
  font-weight: bold;
}

.box img {
    width: 100%;
    padding-top: 20px;
}


.center {
    text-align: center;
}



@media (max-width: 750px) {
    label {
        text-align: left;
    }

    input {
        margin-bottom: 15px;
    }

    #consent-div input {
        width: 20px;
    }

  #hero-design {
       background-size: cover;
  }

  .box{
    flex-direction: column;
    width: 250px;
  }

  .threeboxes{
    margin-bottom: 25px;
  }

  .intro {
    height: 300px;
    /* margin: 30px; */
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .intro p {
      font-size: 18px;
      line-height: 2em;
      /* margin-bottom: 0px; */
      margin-top: 0px;
      padding: 25px;
  }

  #hero-about, #hero-home, #hero-contact {
/*     background-size: 100VH; */
      max-height: 100VH;
      background-size: cover;
  }

  #hero-design {
       background-size: cover;
  }
}

@media (max-width: 650px) {
  .small-nav {display: none;}
}

.nav ul {
list-style-type: none;
margin: 0;
padding: 10px 10px;
overflow: hidden;
background-color: #4A0D66;
}

.nav li{
float: right;
}

.logo {
  float: left;
}

.nav li a{
display: block;
font-weight: bold;
font-size: 25px;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
transition-duration: 0.4s;
}

.nav li a:hover {
  color: #b3b3b3;
}

.nav ul {
list-style-type: none;
margin: 0;
padding-top: 20px;
padding-bottom: 20px;
overflow: hidden;
background-color: #3172AF;
}

.hamburger {
  display: none;
}

.footer p{
  color: black;
}
.footer a{
  color: #333333;
}
.footer {
  display: block;
  text-align: center;
  background-color: white;
  padding: 10px 10px;
  overflow: hidden;
}
