h1, h2, h3 {
    text-align: center;
    font-weight: normal;
    margin: 25px;
}

h1 {
    font-size: 25px;
}

h2 {
    color: #fff;
    font-size: 22px;
}

h3 {
    color: #000;
}

body {
    font-family: Open Sans, Roboto, sans-serif;
}

p, dl, label {
    font-size: 14px;
    color: #fff;
}

input {
    margin: 3px;
    font-size: 14px;
    color: #000;
}

a {
  color: white;
  text-decoration: none;
}

label {
    width: 120px;
    display: inline-block;
    text-align: left;
}

#consent-div label {
    width: 100%;
    display: inline;
    text-align: center; 
}

#consent-div {
    width: 600px;
    display: block;
    margin: auto;
    margin-top: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#consent-div input, label {
    /* margin-left: 0px;
    margin-right: 0px; */
    margin: 0px 0px;
}

.button {
  /* background-color: #375795; */
  border: solid 2px #FFF;
  /* #375795 */
  color: #FFF;
  padding: 12px 14px;
  margin: 20px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  border-radius: 4px;
  max-width: 500px;
  transition-duration: 0.4s;
}

.button-inside-box {
    background-color: #375795;
    
}
input.button {
    color: #fff;
    background-color: #007C82;

}

.button:hover {
  background-color:#24305E;
  color: white;
  cursor: pointer;
}

#button-home {
    text-align: center;
}

.intro p{
    color: #FFF;
    font-weight: normal;
    font-size: 25px;
    line-height: 2em;
    width: 55%;
    text-align: center;
    margin: auto;
}

.intro {
    background-color: #4A0D66;
    padding-top: 200px;
    padding-bottom: 200px;
}

#order-intro {
    background-color: #0098E3;
    min-height: 500px;
}

#hero-about, #hero-home, #hero-contact, #hero-placeorder, #hero-products {
    padding-top: 40px;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;
    overflow: hidden;
    background-size: cover;
}

#hero-about {
    background-image: url('');
    min-height: 60VH;
}

#hero-design {
    background-image: url('slicenew@1x-min.png');
    min-height: 60VH;
    background-size: contain;
    background-repeat: no-repeat;
}

#hero-home {
    /* background-image: url('slicenew@1x.png'); */
    background-image: url('guysolo.png');
    min-height: 100VH;
}

#hero-contact {
    background-image: url('');
    min-height: 50VH;
}

#hero-products {
    background-image: url('twogirls.png');
    min-height: 60VH;
}

#hero-placeorder {
    min-height: 60VH;
    color: white;
    overflow: hidden;
    background-color: #0098E3;
    background-image: url('girl-oranges.png');
    font-weight: normal;
    font-size: 25px;
    line-height: 3em;
    text-align: center;
}

#hero-placeorder p {
    margin-top: 10%;
    font-size: 25px;
}
#order-summary, #customer-info {
    /* margin-top: 50px; */
    padding: 50px;
    text-align: center;
    
    min-height: 400px;

}
#order-summary {
    background-color: #4A0D66;
}

#customer-info {
    background-color: #007C82;
    padding: auto;
}


#order-summary p {
    text-align: center;
}
#delivery_date {
    color: #254087;
    /* font-size: 20px; */
    font-weight:600;
    
}

.threeboxes {
    float: center;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    background-color: #007C82;
}

.box {
    float:center;
    display: flex;
    flex-direction: row;
    background-color: white;
    border-style: solid;
    border-radius: 8px;
    border-color: #375795;
    width: 18%;
    padding-top: 1%;
    display: inline-block;
    padding: 15 32;
    margin: 20px;
}

.box img {
    height: 350px;
    padding-top: 20px;
}


.center {
    text-align: center;
}



@media (max-width: 750px) {
    
  .box{
    flex-direction: column;
    width: 250px;
  }
  
  .threeboxes{
    margin-bottom: 25px;
  }
  
  .intro {
    height: 400px;
    /* margin: 30px; */
    margin-top: 20px;
    margin-bottom: 0px;
  }
  
  .intro p {
      font-size: 18px;
      line-height: 2em;
      /* margin-bottom: 0px; */
      margin-top: 0px;
  }
   
  #hero-about, #hero-home, #hero-contact {
    background-size: 100VH;
  }
  /* 
  .center {
    margin-top: 25px;
  } */
  
}

.nav ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #333;
}

.nav li{
float: left;
}

.nav li a{
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.nav li a:hover {
background-color: #111;
}
