h1, h2, h3 {
    color: black;
    text-align: center;
    font-weight: normal;
    margin: 25px;
}

body {
    font-family: Open Sans, Roboto, sans-serif;
}

h1 {
    font-size: 25px;

}

h2 {
    font-size: 20px;

}

p, dl, input, label {
    font-size: 14px;
}

input {
    margin: 3px;
}
a {
  color: white;
  text-decoration: none;
}

label {
    width: 120px;
    display: inline-block;
    text-align: left;
}

#consent-div label {
    width: 100%;
    display: inline;
    text-align: center; 
}

#consent-div {
    width: 600px;
    display: block;
    margin: auto;
    margin-top: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#consent-div input, label {
    /* margin-left: 0px;
    margin-right: 0px; */
    margin: 0px 0px;
}

.button {
  /* background-color: #375795; */
  border: solid 2px #375795;
  color: #375795;
  padding: 12px 14px;
  margin: 20px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  border-radius: 4px;
  max-width: 500px;
  transition-duration: 0.4s;
}

.button:hover {
  background-color:#24305E;
  color: white;
  cursor: pointer;
}

#button-home {
    text-align: center;
}

.intro p{
    color: #254087;
    font-weight: normal;
    font-size: 25px;
    line-height: 3em;
    width: 75%;
    text-align: center;
    margin: auto;
    margin-top: 200px;
    margin-bottom: 200px;
}

#order-intro {
    background-color: #0098E3;
    min-height: 500px;
}

#hero-about, #hero-home, #hero-contact, #hero-placeorder, #hero-products {
    padding-top: 40px;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;
    overflow: hidden;
    background-size: cover;
}

#hero-about {
    background-image: url('');
    min-height: 60VH;
}

#hero-design {
    background-image: url('slicenew@1x.png');
    min-height: 60VH;
    background-size: contain;
    background-repeat: no-repeat;
}

#hero-home {
    /* background-image: url('slicenew@1x.png'); */
    background-image: url('guysolo.png');
    min-height: 100VH;
}

#hero-contact {
    background-image: url('');
    min-height: 50VH;
}

#hero-products {
    background-image: url('twogirls.png');
    min-height: 60VH;
}

#hero-placeorder {
    min-height: 60VH;
    color: white;
    overflow: hidden;
    background-color: #0098E3;
    background-image: url('girl-oranges.png');
    font-weight: normal;
    font-size: 25px;
    line-height: 3em;
    text-align: center;
}

#hero-placeorder p {
    margin-top: 10%;
    font-size: 25px;
}
#order-summary, #customer-info, #delivery_date {
    margin-top: 50px;
    text-align: center;
}


#order-summary p {
    text-align: center;
}
#delivery_date {
    color: #254087;
    /* font-size: 20px; */
    font-weight:600;
    
}

.threeboxes {
    float: center;
    width: 100%;
    padding-top: 1%;
    text-align: center;
}

.box {
    float:center;
    display: flex;
    flex-direction: row;
    background-color: white;
    border-style: solid;
    border-radius: 8px;
    border-color: #375795;
    width: 17%;
    padding-top: 1%;
    display: inline-block;
    padding: 15 32;
    margin: 20px;
}

.center {
    text-align: center;
}

@media (max-width: 750px) {
    
  .box{
    flex-direction: column;
    width: 250px;
    height: 375px;
  }
  
  .threeboxes{
    height: 1350px;
  }
  
  .intro {
    height: 600px;
    margin: 30px;
    margin-top: 200px;
  }
  
  #hero-about, #hero-home, #hero-contact {
    background-size: 100VH;
  }
  
  
}
